*{
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body{
    background: #191919;
}
.particles{
    width: 100%;
    height: 100%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.center{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    flex-direction: column
}
.buttons button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold
}
.join{
    color: #fff;
    background: #000;
}
.create{
    color: #000;
    background: #ffd20d;
}
.logo{
    padding: 0;
    margin-bottom: 30px;
}
.logo img{
    width: 350px;
    padding: 0;
    margin: 0;
    height: 250px;
}

/* ---- reset ---- */ 
body{ 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas{ 
    display: block; 

} /* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width: 100%; height: 100%; 
    background-color: #ffffff; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} /* ---- stats.js ---- */ 
.count-particles{ 
    background: #000022; 
    position: absolute; 
    top: 48px; left: 0; 
    width: 80px; 
    color: rgb(255, 255, 255); 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
.js-count-particles{ 
    font-size: 1.1em; 
} 
#stats, .count-particles{ 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
} 
#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
.count-particles{ 
    border-radius: 0 0 3px 3px; 
}